<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TỒN KHO THEO LOẠI</title>
  <style>
    table { border-collapse: collapse; width: 60%; margin-top: 20px; }
    th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
    th { background-color: #f2f2f2; }
  </style>
</head>
<body>
<h1>TỒN KHO THEO LOẠI</h1>

<table border="1">
  <thead>
  <tr>
    <th>Loại hàng</th>
    <th>Tổng giá</th>
    <th>Số sản phẩm</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="item : ${items}">
    <tr>
      <td th:text="${item.group.name}"></td>
      <td th:text="${#numbers.formatDecimal(item.sum, 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${#numbers.formatInteger(item.count, 0)}"></td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>